body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url(bg-img.jpg);
    background-size: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    margin-top: 10%;
    margin-bottom: 0;
    text-align: center;
    color: #d30be5;
    font-size: 120px;
  }
  
  #task {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #242323;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  #add-task {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  #tasks {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  /* Optional: Add some spacing to the top and bottom of the list */
  ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 600px) {
    .container {
      max-width: 90%;
    }
  }
  